[submodule "node_modules/handlebars"]
	path = node_modules/handlebars
	url = git://github.com/wycats/handlebars.js.git
[submodule "node_modules/optimist"]
	path = node_modules/optimist
	url = git://github.com/substack/node-optimist.git
[submodule "node_modules/wordwrap"]
	path = node_modules/wordwrap
	url = git://github.com/substack/node-wordwrap.git
[submodule "node_modules/uglify-js"]
	path = node_modules/uglify-js
	url = git://github.com/mishoo/UglifyJS.git
[submodule "node_modules/jison"]
	path = node_modules/jison
	url = git://github.com/zaach/jison.git
[submodule "node_modules/nomnom"]
	path = node_modules/nomnom
	url = git://github.com/harthur/nomnom.git
[submodule "node_modules/underscore"]
	path = node_modules/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "node_modules/request"]
	path = node_modules/request
	url = git://github.com/mikeal/request.git
[submodule ".gh-pages"]
	path = .gh-pages
	url = git@github.com:/errordeveloper/contiki-cloud-face.git
[submodule "node_modules/less"]
	path = node_modules/less
	url = git://github.com/cloudhead/less.js.git
[submodule "node_modules/schema"]
	path = node_modules/schema
	url = git://github.com/akidee/schema.js
[submodule "import/JSV"]
	path = import/JSV
	url = git://github.com/garycourt/JSV
[submodule "import/JSVForms"]
	path = import/JSVForms
	url = git://github.com/garycourt/JSVForms
[submodule "import/json-schema"]
	path = import/json-schema
	url = git://github.com/kriszyp/json-schema
[submodule "node_modules/commonjs-utils"]
	path = node_modules/commonjs-utils
	url = git://github.com/kriszyp/commonjs-utils.git
